torch
torchvision
torchaudio
transformers
accelerate
datasets
evaluate
librosa
pydub
scikit-learn
pandas
numpy
matplotlib
PyMuPDF
Pillow
langchain
qdrant-client
deep-translator
streamlit
camelot-py[cv]
opencv-python